<h1> Hello</h1>

<p>Hello <%=@user.username %> ! Thank you for testing out social media ifaker </p>

<p> You can see your porfile<a href="http://localhost:3000/users/<%=@user.id %>">here</a></p>

<img src="https://media1.giphy.com/media/chzz1FQgqhytWRWbp3/giphy.gif?cid=ecf05e472z5l19ud09d4p2daul3ygy5mh4oymqw07zuljne0&rid=giphy.gif&ct=g">

<iframe src="https://giphy.com/embed/chzz1FQgqhytWRWbp3" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/minions-minions-2-rise-of-gru-chzz1FQgqhytWRWbp3">via GIPHY</a></p>

<%#    <%= makes it read it as ruby  and must use the instance variable like @user instead of user     %>